[submodule "OCA/purchase-workflow"]
	path = OCA/purchase-workflow
	url = git@github.com:OCA/purchase-workflow.git
	branch = 14.0

[submodule "OCA/purchase-workflow/purchase_request"]
	path = OCA/purchase-workflow/purchase_request
	url = git@github.com:OCA/purchase-workflow.git
	branch = 14.0
